<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>  
    <div class="banner">
      <div class="banner-fondo">
        <div class="banner-fondo-img"></div>
      </div>
      <div class="container">
        <div class="banner-header">
          <h1 class="banner-albumName">Album</h1>
          <label class="banner-artistName">
            <a href="#">artista</a>
          </label>
        </div>
        <div class="banner-preview">
          <img src="/images/greenvelvet.jpg" alt="" />
        </div>
        <div class="banner-aditional">
          <div class="banner-year"><p><date>1999</date></p></div>
        </div>
      </div>
    </div>
    <div class="agregar">
      <div class="precio">
        <p>Precio</p>
        <p><strong>$12.34</strong></p>
      </div>
      <div class="carrito">
        <button>Agregar al carrito</button>
      </div>
    </div>
    <div class="lista">
      <h2>Canciones</h2>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
