<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <h1 id="acc">Cuenta creada</h1>
    <section class="confirmation-section"> 
        <h2 id="greeting">Confirmación de cuenta</h2>
        <h2 id="message">Tu cuenta ha sido creada de manera exitosa ;)</h2>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>