<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <!-- Tipografía -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <!-- Normative.css Para que nuestros estilos y seteos en los docs HTML, y asi hacer que los elementos HTML se muestren constantes y homogeneos en los diferentes navegadores web. No es obligatorio usarla siempre, pero es recomendada.-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Vínculo con su Hoja de Estilo o hojas, vinculamos nuestra hoja de estilo CSS para hacer relación con los respectivos HTML eLements de acuerdo a los 5 diferentes selectores que podemos llgar a usar por clasificación -->
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <!-- Vinculo de Images con FontAwesone -->
    <script src="https://kit.fontawesome.com/c1014e3fce.js" crossorigin="anonymous"></script>
</head>
<body>
    <a class="logo" href="/"><img class="BMG" src="/images/logoBMG.png" alt="Logo del Sitio E-commerceBGG"></a> <!--<i class="fas fa-compact-disc"></i>-->
    <div id="main">
      <section id="login-and-text-container">
          <h1>Iniciar Sesión</h1>
          <form id="login" action="/ruta" method="POST">
              <article>
                  <label for="email">Correo electrónico :</label>
                  <input type="text" name="email" id="email" required>
              </article>
              <article>
                  <label for="password">Contraseña</label>
                  <input type="password" name="password" id="password" required>
              </article>
              <article id="remember-general">
                <label for="remember" id="label-remember">Recuerdame</label>
                <input type="checkbox" name="recuerdame" id="remember">
                </article>
              <button type="submit" id="submit-button">Iniciar Sesión</button>
          </form>
          <p>¿Olvidaste la contraseña? <a href="#" target="_blank"><br>Recuperar contraseña ></a></p>
          <p>¿No tienes una cuenta? <a href="/registro">Crear cuenta ></a></p>
      </section>
    </div>
    <footer class="foot">
        <div id="footer-desktop-view">
            <div id="logo-social-networks">
                <img id="BMGfoot" src="/images/logoBMG-blanco.png" alt="Logo del Sitio E-commerceBGG">
                <article class="social-networks">
                    <a href="#" class="social-logo" id="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-logo" id="twitter"><i class="fab fa-twitter-square"></i></i></a>
                    <a href="#" class="social-logo" id="instagram"><i class="fab fa-instagram"></i></i></a>
                </article>
            </div>
            <div class="extra-info" id="first">
                        <h3>Título de la Sección 1</h3>
                        <ul class="unordered-list">
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento 3</li>
                        </ul>
            </div>
            <div class="extra-info" id="second">
                        <h3>Título de la Sección 2</h3>
                        <ul class="unordered-list">
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento 3</li>
                        </ul>
            </div>
            <div class="extra-info" id="third">
                        <h3>Título de la Sección 3</h3>
                        <ul class="unordered-list">
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento 3</li>
                        </ul>
            </div>
        </div>
        <h2>@2021 by BMG Records. Todos los Derechos Reservados.</h2>
    </footer>
</body>
</html>