div#all {
    height: 1100px;
}

.App {
    display: flex;
    height: 100%;
} 

#SideBar {
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between; /*Aqui es donde se cambia para que el footer este hasta abajo.*/
    align-items: stretch;
    background-color: #e4e4e4c6;
}

@media (min-width: 419px){
    div#all {
        height: 850px;
    }
}

@media (min-width: 690px){
    div#all {
        /* height: 950px; */
    }
}

@media (min-width: 1130px){
    div#all {
        height: 820px;
    }
}