#category {
    display: inline-block;
    width: 80px;
    height: 40px;
    border: 1px black solid;
    margin: 8px 10px;
    border-radius: 5px;
    background-color: #4e515a;
    color: white;
}

article h2#everyCategoryTitle {
    font-size: 10px;
    font-weight: 100;
    margin: 0;
}

article p#totalOfCategory {
    font-size: 10px;
    font-weight: 100px;
    margin: 0;
}

article p#totalOfCategory b {
    font-weight: 600;
}

@media (min-width: 1326px){
    article h2#everyCategoryTitle {
        font-size: 12px;
        margin: 4px 0;
    }
    
    article p#totalOfCategory {
        font-size: 12px;
        margin: 0;
    }   

    #category {
        display: inline-block;
        width: 100px;
        height: 55px;
        border: 1px black solid;
        margin: 8px 10px;
        border-radius: 5px;
        background-color: #4e515a;
        color: white;
    }
}