<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styleCart.css" />
    <link rel="stylesheet" href="/css/header-footer.css">
    <script src="https://kit.fontawesome.com/c1014e3fce.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
  </head>
  <body>
    <%- include('../partials/header') %>    
    <div class="cuerpo">
      <div class="encabezado">
        <img src="/icons/carrito-de-compras.svg" width="22px" height="22px" />
        <p>Carrito</p>
      </div>
      <div class="contenido">
        <div class="album info">
          <a href="/detalle-del-producto"><img class="img" src="images/greenvelvet.jpg" alt="" /></a>
        </div>
        <div class="info">
          <h2 class="datos">Titulo</h2>
          <p class="datos">artista</p>
          <p class="datos"><strong>$12.34</strong></p>
        </div>
        <div class="cantidad">
          <label for="cantidad-discos">cantidad</label>
          <select name="cantidad-discos" id="cantidad-discos">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br />
          <!-- <img class="eliminar" src="/icons/eliminar.svg" alt="" /> -->
          <i class="far fa-trash-alt eliminar"></i>
        </div>
      </div>
      <div class="prueba">
        <div class="cupon">
          <h2>Cupón</h2>
          <br />
          <div class="codigo">
            <input type="text" placeholder="ingresa el cupón" />
            <button>Aplicar</button>
          </div>
        </div>
        <div class="subtotal">
          <h2>Subtotal</h2>
          <br />
          <div class="precio">
            <p><strong>$12.34</strong></p>
            <button>Pagar</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>