<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>    
    <div class="cuerpo">
      <div class="encabezado">
        <img src="/icons/carrito-de-compras.svg" width="22px" height="22px" />
        <p>Carrito</p>
      </div>
      <div class="contenido">
        <div class="album info">
          <a href="/productos/1"><img class="img" src="images/registeredProducts/greenvelvet.jpg" alt="" /></a>
        </div>
        <div class="info">
          <h2 class="datos">Titulo</h2>
          <p class="datos">artista</p>
          <p class="datos"><strong>$12.34</strong></p>
        </div>
        <div class="cantidad">
          <label for="cantidad-discos">cantidad</label>
          <select name="cantidad-discos" id="cantidad-discos">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br />
          <!-- <img class="eliminar" src="/icons/eliminar.svg" alt="" /> -->
          <i class="far fa-trash-alt eliminar"></i>
        </div>
      </div>
      <div class="prueba">
        <div class="cupon">
          <h2>Cupón</h2>
          <br />
          <div class="codigo">
            <input type="text" placeholder="ingresa el cupón" />
            <button>Aplicar</button>
          </div>
        </div>
        <div class="subtotal">
          <h2>Subtotal</h2>
          <br />
          <div class="precio">
            <p><strong>$12.34</strong></p>
            <button>Pagar</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>