<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <!-- Tipografía -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <!-- Normative.css Para que nuestros estilos y seteos en los docs HTML, y asi hacer que los elementos HTML se muestren constantes y homogeneos en los diferentes navegadores web. No es obligatorio usarla siempre, pero es recomendada.-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Vínculo con su Hoja de Estilo o hojas, vinculamos nuestra hoja de estilo CSS para hacer relación con los respectivos HTML eLements de acuerdo a los 5 diferentes selectores que podemos llgar a usar por clasificación -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Vinculo de Images con FontAwesone -->
    <script src="https://kit.fontawesome.com/c1014e3fce.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <a class="hamburguer-button" href="#"><i class="fas fa-bars"></i></a>
        <a class="logo" href="/"><img class="BMG" src="/images/logoBMG.png" alt="Logo del Sitio E-commerceBGG"></a> <!--<i class="fas fa-compact-disc"></i>-->
        <div><input type="text" class="seeker"></div>
        <a class="search" href="#"><i class="fas fa-search"></i></a>
        <a href="/registro" class="user"><i class="far fa-user"></i></a>
        <a class="cart" href="/carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
    </header>
    <section class="menu">
        <ul id="menu-list">
            <li id="menu-item">Iniciar Sesión</li>
            <li id="menu-item">Registrarse</li>
            <!-- <li id="menu-item">Item Tres</li>
            <li id="menu-item">Item Cuatro</li>-->
        </ul>
    </section>
    <section class="searcher">
        <input type="text" id="searcher-field">
        <button id="search-field-item"><i class="fas fa-search"></i></button>
    </section>
    <section class="first-section">
        <div class="title-paragraph-and-elements-until-992">
            <div class="title-paragraph-until-992">
                <h1 id="principal-title">Mensaje de Genero Musical o Hit del Momento dependiente al Elemento Seleccionado.</h1>
                <p class="paragraph-until-992">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis pariatur in, ipsa deserunt exercitationem ea. Quidem maxime illo nihil atque, laborum labore fugiat, doloremque, ducimus necessitatibus commodi sunt esse iusto?</p>
            </div>
            <article class="elements-until-992">
                <button class="Right-Scroll-until-992" id="element1">Elemento 1</button>
                <button class="Right-Scroll-until-992" id="element2">Elemento 2</button>
                <button class="Right-Scroll-until-992" id="element3">Elemento 3</button>
            </article>
        </div>
        <div class="paragraph-and-elements">
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis pariatur in, ipsa deserunt exercitationem ea. Quidem maxime illo nihil atque, laborum labore fugiat, doloremque, ducimus necessitatibus commodi sunt esse iusto?</p>
            <article class="elements-until-768">
                <button class="Right-Scroll-until-768" id="element1">Elemento 1</button>
                <button class="Right-Scroll-until-768" id="element2">Elemento 2</button>
                <button class="Right-Scroll-until-768" id="element3">Elemento 3</button>
            </article>
        </div>
        <button class="add-cart">Añadir al Carrito</button>
        <article class="elements">
            <button class="Right-Scroll">Elemento 1</button>
            <button class="Right-Scroll">Elemento 2</button>
            <button class="Right-Scroll">Elemento 3</button>
        </article>
    </section>
    <section class="album-section">
        <article class="album-home" id="house">
            <img id="strictly" src="/images/strictlyrhythm.jpg" alt="Imágen de Album">
            <h2>Lo mejor de Strictly Rhythm</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores accusamus dolor aperiam! Nesciunt blanditiis aliquid explicabo fugit possimus quia esse? Tempora, nemo aspernatur? Sit enim possimus, dolor tempora laboriosam fugiat.</p>
            <a href="/detalle-del-producto">ir a la colección ---></a>
        </article>
        <article class="album-home" id="rock">
            <img id="beatles" src="/images/pleasepleaseme.jpg" alt="Imágen de Album">
            <h2>El inicio de una gran historia</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores accusamus dolor aperiam! Nesciunt blanditiis aliquid explicabo fugit possimus quia esse? Tempora, nemo aspernatur? Sit enim possimus, dolor tempora laboriosam fugiat.</p>
            <a href="/detalle-del-producto">ir a la colección ---></a>
        </article>
        <article class="album-home" id="techno">
            <img id="underground" src="/images/greenvelvet.jpg" alt="Imágen de Album">
            <h2>Underground para variar</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores accusamus dolor aperiam! Nesciunt blanditiis aliquid explicabo fugit possimus quia esse? Tempora, nemo aspernatur? Sit enim possimus, dolor tempora laboriosam fugiat.</p>
            <a href="/detalle-del-producto">ir a la colección ---></a>
        </article>
    </section>
    <footer class="foot">
        <div id="footer-desktop-view">
            <div id="logo-social-networks">
                <img id="BMGfoot" src="/images/logoBMG-blanco.png" alt="Logo del Sitio E-commerceBGG">
                <article class="social-networks">
                    <a href="#" class="social-logo" id="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-logo" id="twitter"><i class="fab fa-twitter-square"></i></i></a>
                    <a href="#" class="social-logo" id="instagram"><i class="fab fa-instagram"></i></i></a>
                </article>
            </div>
            <div class="extra-info" id="first">
                        <h3>Título de la Sección 1</h3>
                        <ul class="unordered-list">
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento 3</li>
                        </ul>
            </div>
            <div class="extra-info" id="second">
                        <h3>Título de la Sección 2</h3>
                        <ul class="unordered-list">
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento 3</li>
                        </ul>
            </div>
            <div class="extra-info" id="third">
                        <h3>Título de la Sección 3</h3>
                        <ul class="unordered-list">
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento 3</li>
                        </ul>
            </div>
        </div>
        <h2>@2021 by BMG Records. Todos los Derechos Reservados.</h2>
    </footer>
</body>
</html>