<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <!-- Tipografía -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <!-- Normative.css Para que nuestros estilos y seteos en los docs HTML, y asi hacer que los elementos HTML se muestren constantes y homogeneos en los diferentes navegadores web. No es obligatorio usarla siempre, pero es recomendada.-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Vínculo con su Hoja de Estilo o hojas, vinculamos nuestra hoja de estilo CSS para hacer relación con los respectivos HTML eLements de acuerdo a los 5 diferentes selectores que podemos llgar a usar por clasificación -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Vinculo de Images con FontAwesone -->
    <script src="https://kit.fontawesome.com/c1014e3fce.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <a class="hamburguer-button" href="#"><i class="fas fa-bars"></i></a>
        <a class="logo" href="#"><i class="fas fa-compact-disc"></i></a>
        <a class="search" href="#"><i class="fas fa-search"></i></a>
        <a class="cart" href="#"><i class="fas fa-shopping-cart"></i></a>
    </header>
    <section class="first-section">
        <h1 id="principal-title">Mensaje de Genero Musical o Hit del Momento dependiente al Elemento Seleccionado.</h1>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis pariatur in, ipsa deserunt exercitationem ea. Quidem maxime illo nihil atque, laborum labore fugiat, doloremque, ducimus necessitatibus commodi sunt esse iusto?</p>
        <button>Añadir al Carrito</button>
        <article class="elements">
            <a href="#">Elemento 1</a>
            <a href="#">Elemento 2</a>
            <a href="#">Elemento 3</a>
        </article>
    </section>
</body>
</html>