<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/stylesLogin.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
      <link rel="stylesheet" href="/css/styles.css">
      <script src="https://kit.fontawesome.com/c1014e3fce.js" crossorigin="anonymous"></script>

  <title>login</title>
</head>
<body>
<!--Barra de navegación-->  
<header class="main-header">
  <a class="hamburguer-button" href="#"><i class="fas fa-bars"></i></a>
  <a class="logo" href="#"><i class="fas fa-compact-disc"></i></a>
  <a class="search" href="#"><i class="fas fa-search"></i></a>
  <a class="cart" href="/carrito"><i class="fas fa-shopping-cart"></i></a>
</header>
<!--Fin de la Barra de navegación-->  
 
<div class="contenedor"></div>
<!--Formulario-->

  <div class="formulario" >
    <header>
      <h1>Formato de ingreso</h1>
    </header>
      <label for="Email">E-mail</label>
      <br>
      <input type="email" name="Email" placeholder="abcd@mail.com">
      <br>
      
      <label for="Password">Contraseña</label>
      <br>
      <input type="password" name="Password" id="password">
      <br>
      <p class="olvidaste">¿Olvidaste tu contraseña?</p>
      <button type="submit">Ingreso</button>
    </form>
  </div> 
<!--Fin del formulario-->
    <p class="todavia-no">¿Todavía no tienes una cuenta?</p>
    <p class="registrate">Regístrate</p>

<!--Footer-->
  <footer>
    <img src="/images/logo-BMG-blanco.png" alt="Logo" class="logo-abajo">
    <p class="texto-footer">©Copyright 2021 BGM Records. Todos los derechos reservados.</p>
    <p class="texto-footer">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="texto-footer">Libero quaerat, labore ex adipisci quam voluptatibus!</p>
    <br>
    <p class="texto-footer-subtitulo">adipisicing elit. Molestiae ipsam minima</p>
    <p class="texto-footer"> Qui voluptatem debitis maxime vitae, assumenda ea atque autem suscipit, quisquam incidunt possimus eveniet? Architecto.</p>
    <p class="texto-footer">tempore laudantium tempora!</p>
  </footer>
</body>
</html>