<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styleDetail.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
      <link rel="stylesheet" href="/css/styles.css">
      <script src="https://kit.fontawesome.com/c1014e3fce.js" crossorigin="anonymous"></script>
    <title>Producto</title>
  </head>
  <body>
    <header class="main-header">
      <a class="hamburguer-button" href="#"><i class="fas fa-bars"></i></a>
      <a class="logo" href="#"><i class="fas fa-compact-disc"></i></a>
      <a class="search" href="#"><i class="fas fa-search"></i></a>
      <a class="cart" href="/carrito"><i class="fas fa-shopping-cart"></i></a>
  </header>
    <!-- <div class="navbar">Aqui debe ir el navbar</div> -->
    <div class="banner">
      <div class="banner-fondo">
        <div class="banner-fondo-img"></div>
      </div>
      <div class="container">
        <div class="banner-header">
          <h1 class="banner-albumName">Album</h1>
          <h2 class="banner-artistName">
            <a href="#">artista</a>
          </h2>
        </div>
        <div class="banner-preview">
          <img src="/images/louisarmstrong.jpg" alt="" />
        </div>
        <div class="banner-aditional">
          <div class="banner-year"><p><date>1999</date></p></div>
        </div>
      </div>
    </div>
    <div class="agregar">
      <div class="precio">
        <p>Precio</p>
        <p><strong>$12.34</strong></p>
      </div>
      <div class="carrito">
        <button>Agregar al carrito</button>
      </div>
    </div>
    <div class="lista">
      <h2>Canciones</h2>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
      <div class="cancion">
        <p>#</p>
        <p>Titulo cancion</p>
        <p>3:00</p>
      </div>
    </div>
  </body>
</html>
