<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styleCart.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c1014e3fce.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
  </head>
  <body>
    <header class="main-header">
      <a class="hamburguer-button" href="#"><i class="fas fa-bars"></i></a>
      <a class="logo" href="/"><img class="BMG" src="/images/logoBMG.png" alt="Logo del Sitio E-commerceBGG"></a> <!--<i class="fas fa-compact-disc"></i>-->
      <div><input type="text" class="seeker"></div>
      <a class="search" href="#"><i class="fas fa-search"></i></a>
      <a href="/registro" class="user"><i class="far fa-user"></i></a>
      <a class="cart" href="/carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
    </header>
    <section class="menu">
      <ul id="menu-list">
          <li id="menu-item">Iniciar Sesión</li>
          <li id="menu-item">Registrarse</li>
          <!-- <li id="menu-item">Item Tres</li>
          <li id="menu-item">Item Cuatro</li>-->
      </ul>
    </section>
    <section class="searcher">
      <input type="text" id="searcher-field">
      <button id="search-field-item"><i class="fas fa-search"></i></button>
    </section>
    
    <div class="cuerpo">
      <div class="encabezado">
        <img src="/icons/carrito-de-compras.svg" width="22px" height="22px" />
        <p>Carrito</p>
      </div>
      <div class="contenido">
        <div class="album info">
          <a href="/detalle-del-producto"><img class="img" src="images/greenvelvet.jpg" alt="" /></a>
        </div>
        <div class="info">
          <h2 class="datos">Titulo</h2>
          <p class="datos">artista</p>
          <p class="datos"><strong>$12.34</strong></p>
        </div>
        <div class="cantidad">
          <label for="cantidad-discos">cantidad</label>
          <select name="cantidad-discos" id="cantidad-discos">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br />
          <!-- <img class="eliminar" src="/icons/eliminar.svg" alt="" /> -->
          <i class="far fa-trash-alt eliminar"></i>
        </div>
      </div>
      <div class="prueba">
        <div class="cupon">
          <h2>Cupón</h2>
          <br />
          <div class="codigo">
            <input type="text" placeholder="ingresa el cupón" />
            <button>Aplicar</button>
          </div>
        </div>
        <div class="subtotal">
          <h2>Subtotal</h2>
          <br />
          <div class="precio">
            <p><strong>$12.34</strong></p>
            <button>Pagar</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="foot">
      <div id="footer-desktop-view">
          <div id="logo-social-networks">
              <img id="BMGfoot" src="/images/logoBMG-blanco.png" alt="Logo del Sitio E-commerceBGG">
              <article class="social-networks">
                  <a href="#" class="social-logo" id="facebook"><i class="fab fa-facebook"></i></a>
                  <a href="#" class="social-logo" id="twitter"><i class="fab fa-twitter-square"></i></i></a>
                  <a href="#" class="social-logo" id="instagram"><i class="fab fa-instagram"></i></i></a>
              </article>
          </div>
          <div class="extra-info" id="first">
                      <h3>Título de la Sección 1</h3>
                      <ul class="unordered-list">
                          <li>Elemento 1</li>
                          <li>Elemento 2</li>
                          <li>Elemento 3</li>
                      </ul>
          </div>
          <div class="extra-info" id="second">
                      <h3>Título de la Sección 2</h3>
                      <ul class="unordered-list">
                          <li>Elemento 1</li>
                          <li>Elemento 2</li>
                          <li>Elemento 3</li>
                      </ul>
          </div>
          <div class="extra-info" id="third">
                      <h3>Título de la Sección 3</h3>
                      <ul class="unordered-list">
                          <li>Elemento 1</li>
                          <li>Elemento 2</li>
                          <li>Elemento 3</li>
                      </ul>
          </div>
      </div>
      <h2>@2021 by BMG Records. Todos los Derechos Reservados.</h2>
  </footer>
  </body>
</html>
