/* Header con resolución 360 a 575 */

.main-header {
    display: flex;
    position: relative;
    padding: 10px;
    border-bottom: 1px black solid;
    min-width: 360px;
    color: black;
    background-color: white;
}

.hamburguer-button {
    font-size: 28px;
    color: black;
    padding: 5px;
    position: relative;
}

.logo {
    margin: auto;
    padding: 5px;
    left: 34%;
    width: 130px;
    height: 32px;
}

.seeker {
    display: none;
}

#search-field{
    display: none;
}

.search {
    font-size:28px;
    color:rgb(68, 143, 213);
    padding: 5px;
    position: absolute;
    right: 55px;
}

.user {
    display: none;
}

.cart {
    font-size: 28px;
    padding: 5px;
    color: rgb(163, 158, 158);
    position: absolute;
    right: 10px;
}

.BMG{
    width: 100%;
    height: 100%;
    color: black;
    flex-grow: 1;
}

.menu {
    display: none; /*Menu desaparecido pero ya listo de 360px a 991px*/
    border-radius: 1.5px;
    width: 200px;
    padding: 0;
    position: absolute;
    z-index: 1;
    background-color: white;
    text-align: left;
    color: rgb(119, 118, 118);
}

#menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-item {
    padding: 10px;
    margin: 10px;
}

.searcher {
    display: flex;
    display: none; /*Busqueda desplegable lista para 360px a 991px*/
    width: 50%;
    max-width: 250px;
    padding: 0;
    position: absolute;
    right: 55px;
    z-index: 1;
    background-color: white;
}

#searcher-field {
    border: none;
    width: 100%;
}

#search-field-item {
    font-size:20px;
    color:rgb(0, 0, 0);
    padding: 5px;
    border: none;
    background-color: white;
}

/* Footer 360 a 575*/

#BMGfoot {
    width: 130px;
    height: 32px;
    padding: 5px;
    color: black;
}

footer h2 {
    color: #7d7e80;
    font-size: 13px;
    text-align: center;
    text-transform: none;
}

.foot {
    font-family: 'Roboto', sans-serif;
    background-color: #3a3c44;
    display: flex;
    flex-direction: column;
    height: 660px;
}

.foot img {
    margin: 20px;
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:28px;
    padding: 5px;
    margin: 0 0 20px 0;
}

.social-logo#facebook {
    color:#4267B2;
}

.social-logo#twitter {
    color:rgb(0, 131, 253)
}

.social-logo#instagram {
    color: white;
}

.extra-info .unordered-list {
    padding: 0 0 0 20px;
}

.extra-info h3 {
    color: rgb(206, 206, 206);
    margin: 10px;
    padding: 0 0 0 15px;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
}

.extra-info ul li {
    color: #9195a3;
    list-style: none;
    text-align: left;
    padding: 8px;
}

li a {
    color: #9195a3;
    text-decoration: none;
}

@media (min-width: 576px) {

    .search {
        /* Position : absoulte */
        right: 90px
    }

}

@media (min-width: 768px) {

    .user {
        display: inline;
        font-size:28px;
        color:rgb(0, 0, 0);
        padding: 5px;
        position: absolute;
        right: 175px;
    }

    /* p#user { cuando comparta parametros con cualquier página que tenga el header.
        display: inline;
        font-size: 10px;
    } */

    .social-networks {
        justify-content: flex-start;
        padding: 0 0 0 25px;
    }

    .social-logo#twitter {
        margin-left: 20px;
    }
    
    .social-logo#instagram {
        margin-left: 20px;
    }
    
    .extra-info h3 {
        margin: 5px;
        font-size: 13px;
        padding: 0;
    }
    /*
    .extra-info ul li {
        font-size: 11px;
    }
    */
    .foot {
        height: 230px;
    }

    #footer-desktop-view {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .extra-info {
        margin-top: 20px;
    }

    .extra-info ul li {
        font-size: 14px;
    }

    .extra-info .unordered-list {
        padding: 0;
    }


}

@media (min-width: 992px) {
    
    
    /*A modificar :*/

    .main-header {
        border: 0 2px 2px 2px black solid;
    }
    
    .hamburguer-button {
        align-self: center;
        position: absolute;
        order: 2;
        margin: 0 0 0 32px;
        left: 160px;
    }
    
    .logo {
        align-self: center;
        order: 1;
        margin: 0 0 0 16px;
    }
    
    .seeker { /* Primera aparición de seeker.*/
        display: block;
        align-self: center;
        border: 0.5px rgb(175, 173, 173) solid;
        border-radius: 50px;
        height: 60%;
        width: 55%;
        order: 3;
        margin: 0 0 0 32px;
        position: absolute;
        right: 188px;
    }
    
    .search {
        font-size:20px;
        align-self: center;
        right: 200px;
        order: 4;
    }
    
    .user { 
        display: block;
        align-self: center;
        order: 5;
        /*position: absolute;*/
        right: 100px;
    }
    
    .cart {
        align-self: center;
        order: 6;
    }

    
    .extra-info ul li a {
        font-size: 14px;
    }

}

@media (min-width: 1200px) {

    /*Font-size the p de albums en 18 normalmente, hacerla crecer hasta 19 0 20 px y aumentar el margin del parrafo también*/
    footer h2 {
        font-size: 15px;
    }

}

@media (min-width: 1500px) {

    /*Font-size the p de albums en 18 normalmente, hacerla crecer hasta 19 0 20 px y aumentar el margin del parrafo también*/

    .hamburguer-button {
        left: 300px;
    }
    
    .logo {
        height: 40px;
        width: 180px;
    }

    .foot {
        height: 250px;
    }

    #logo-social-networks {
        position: relative;
        left: 80px;
    } 

    .extra-info h3 {
        font-size: 18px;
    }

    .extra-info ul li {
        font-size: 16px;
    }

}

/* Se realizo una depuración de las declaraciones de cada regla para que no se repitieran y se este iterando algo que ya se tenga desde resoluciones pasadas.*/