* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.first-section {
    background-image: url('/images/fondoPrincipal.jpg');
    background-size: cover;
    height: 690px;
}

button a {
    text-decoration: none;
}

#principal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 38px;
    color: #ffffff;
    text-align: center;
    margin: 0 30px 15px 30px;
    padding: 25px 0;
    text-align: left;
    text-transform: uppercase; 
    max-width: 300px;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    color: rgb(218, 107, 23);
    text-align: center;
    max-width: 400px;
}

.paragraph-until-992{
    display: none;
}

.add-cart {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: grey;
    display: block;
    margin: 25px auto;
    border-radius: 25px;
    height: 40px;
    width: 140px;
    border: none;
    transition: all 300ms;
}

.add-cart:hover {
    width: 150px;
    height: 50px;
    font-size: 17px;
}

.elements-until-992 {
    display: none;
}

.elements-until-768 {
    display: none;
}

.elements {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
}

.Right-Scroll {
    background-color: white;
    text-align: center;
    color: grey;
    display: inline-block;
    border-radius: 25px;
    height: 40px;
    width: 140px;
    border: none;
    transition: all 300ms;
}

.Right-Scroll:hover {
    width: 150px;
    height: 50px;
    font-size: 17px;
}

.album-home {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.album-home#black {
    background-color: gray;
    color: black
}


.album-home#black p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding: 0 7px 20px 7px;
}

.album-home#black a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: black
}

.album-home#yellow {
    background-color: rgb(255, 227, 65);
    color: black;
}

.album-home#yellow p {
    color: black;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding: 0 7px 20px 7px;
}

.album-home#yellow a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: black
}

.album-home#strongGreen {
    background-color: green;
    color: white;
}

.album-home#strongGreen p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding: 0 7px 20px 7px;
}

.album-home#strongGreen a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: white;
}

.album-home #standardImage {
    width: 100%;
    height: 50%;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    
    .first-section {
        height: 530px;
    }

    #principal-title {
        text-align: center;
        max-width: 700px;
    }

}

@media (min-width: 768px) {

    .first-section {
        height: 480px;
    }

    #principal-title {
        text-align: center;
        max-width: 100%;
    }

    .paragraph-and-elements {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 180px;
        
    }

    .paragraph {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin: 0 50px;
        padding: 0 20px 0 20px;
        color: rgb(218, 107, 23);
        text-align: left;
    }

    .elements-until-768 {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 80px;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;
        height: 100%;
    }

    .Right-Scroll-until-768 {
        background-color: white;
        text-align: center;
        color: grey;
        display: inline-block;
        border-radius: 25px;
        height: 30px;
        width: 130px;
        border: none;
    }

    .Right-Scroll-until-768#element1 {
        position: relative;
        right: 50px;
        transition: all 300ms;
    }

    .Right-Scroll-until-768#element1:hover {
        right: 80px;
    }

    .Right-Scroll-until-768#element2 {
        position: relative;
        right: 30px;
        transition: all 300ms;
    }

    .Right-Scroll-until-768#element2:hover {
        right: 60px;
    }

    .Right-Scroll-until-768#element3 {
        position: relative;
        right: 10px;
        transition: all 300ms;
    }

    .Right-Scroll-until-768#element3:hover {
        right: 40px;
    }

    .first-section .elements {
        display: none; /*ESTE ES EL QUE NO ME FUNCIONA.*/
    }

    .add-cart {
        height: 30px;
        width: 140px;
    }

    .add-cart:hover {
        height: 35px;
        width: 145px;
        font-size: 16px;
    }

    .album-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .album-home p {
        padding: 0 5px 20px 5px;
    }
    
    .album-home a {
        display: block;
        text-align: right;
        margin: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-style: italic;
        color: black
    }

    .album-home#black {
        width: 47%;
        height: 50%;
    }

    .album-home#yellow {
        width: 47%;
        height: 50%;
    }

    .album-home#strongGreen {
        width: 47%;
        height: 50%;
    }

}

@media (min-width: 992px) {
    /*A modificar :*/

    .first-section {
        height: 500px;
    }

    #principal-title {
        text-align: left;
        max-width: 480px;
    }

    .title-paragraph-and-elements-until-992{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .title-paragraph-until-992 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .paragraph-until-992 {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        width: 50%;
        margin: 0 0 0 15px;
        padding: 0 20px 0 20px;
        color: rgb(218, 107, 23);
        text-align: left;
    }

    .elements-until-992 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .paragraph-and-elements {
        display: none;
    }

    .elements-until-768 {
        display: none;
    }

    .Right-Scroll-until-992 {
        background-color: white;
        text-align: center;
        color: grey;
        display: inline-block;
        border-radius: 25px;
        height: 30px;
        width: 130px;
        border: none;
        font-size: 12px;
    }

    .add-cart {
        position: absolute;
        left: 150px;
        background-color: white;
        text-align: center;
        color: grey;
        font-size: 12px;
        display: inline-block;
        border-radius: 25px;
        height: 30px;
        width: 130px;
        border: none;
    }

    .add-cart:hover {
        height: 30px;
        width: 142px;
        font-size: 14px;
    }

    .Right-Scroll-until-992#element1 {
        position: relative;
        right: 60px;
        transition: all 300ms;
    }

    .Right-Scroll-until-992#element1:hover {
        right: 90px;
    }

    .Right-Scroll-until-992#element2 {
        position: relative;
        right: 30px;
        transition: all 300ms;
    }

    .Right-Scroll-until-992#element2:hover {
        right: 60px;    
    }

    .Right-Scroll-until-992#element3 {
        position: relative;
        right: 0;
        transition: all 300ms;
    }

    .Right-Scroll-until-992#element3:hover {
        right: 30px;
    }

    .album-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .album-home p {
        padding: 0 10px 20px 10px;
    }
    
    .album-home a {
        display: block;
        text-align: right;
        margin: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-style: italic;
        color: black
    }

    .album-home#black {
        width: 30%;
    }

    .album-home#yellow {
        width: 30%;
    }

    .album-home#strongGreen {
        width: 30%;
    }

}

@media (min-width: 1200px) {

    /*Font-size the p de albums en 18 normalmente, hacerla crecer hasta 19 0 20 px y aumentar el margin del parrafo también*/

    .first-section {
        height: 650px;
    }

    #principal-title {
        font-size: 48px;
        max-width: 550px;
    }

    .paragraph-until-992 {
        font-size: 20px;
    }

    .elements-until-992 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .Right-Scroll-until-992 {
        height: 40px;
        width: 140px;
        font-size: 16px;
    }

    .add-cart {
        height: 40px;
        width: 140px;
        font-size: 16px;
    }

    .add-cart:hover {
        height: 45px;
        width: 145px;
        font-size: 17px;
    }

    .Right-Scroll-until-992#element1 {
        position: relative;
        right: 40px;
    }

    .Right-Scroll-until-992#element1:hover {
        right: 70px;
    }

    .Right-Scroll-until-992#element2 {
        position: relative;
        right: 0px;
    }

    .Right-Scroll-until-992#element2:hover {
        right: 30px;
    }

    .Right-Scroll-until-992#element3 {
        position: relative;
        right: -40px;
    }

    .Right-Scroll-until-992#element3:hover {
        right: -10px;
    }

    .album-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .album-home {
        max-width: 400px;
        max-height: 650px;
    }

    .album-home p {
        padding: 0 10px 20px 10px;
    }
    
    .album-home a {
        display: block;
        text-align: right;
        margin: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-style: italic;
        color: black
    }

}


@media (min-width: 1500px) {

    /*Font-size the p de albums en 18 normalmente, hacerla crecer hasta 19 0 20 px y aumentar el margin del parrafo también*/

    .first-section {
        height: 685px;
    }

    .title-paragraph-and-elements-until-992 {
        padding: 30px 0;
        
    }

    .title-paragraph-until-992 {
        position: relative;
        flex-grow: 1;
        left: 12%;
    }

    .elements-until-992 {
        width: 40%;
    }

    .add-cart {
        position: relative;
        left: 24%;
    }

    .album-home {
        max-height: 720px;
    }

}