* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background-color: green;
  box-sizing: border-box;
  border: 1px solid red;
  height: 30px;
  width: 100%;
}

.encabezado {
  text-align: center;
  margin-top: 10px;
  box-sizing: border-box;
}

.encabezado p {
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  margin-bottom: 40px;
}

.contenido {
  border: 1px solid black;
  border-radius: 15px;
  height: 150px;
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(243, 242, 242)
}

.img {
  width: 97px;
  height: 90%;
  /*border: 1px solid black;*/
  border-radius: 10px;
  box-sizing: border-box;
}

.info {
  text-align: center;
  margin: 15px 8px 15px 8px;
}

.album {
  /* width: 30%; */
  height: 75%;
  display: inline-block;
  padding-top: 3px;
  border-radius: 15px;
  align-items: center;
}

.datos {
  margin-bottom: 10px;
}

h2.datos {
  font-size: 15px;
}

h2#empty {
  display: block;
  color: black;
  font-size: 18px;
  max-width: 80%;
  font-weight: 300;
  text-align: center;
  margin: 40px auto;
}

.cantidad {
  margin: 15px;
  text-align: center;
}
.cantidad select {
  margin-top: 10px;
  width: 70%;
  border-radius: 5px;
}
.eliminar {
  margin-top: 15px;
  width: 25px;
  font-size: 24px;
}
.eliminar:hover {
  color: red;
}

.cupon {
  text-align: center;
  width: 80%;
  margin: 10% auto;
  padding-bottom: 3%;
  box-sizing: border-box;
}

.codigo {
  border: 1px solid black;
  border-radius: 15px;
  font-size: 20px;
  margin: 0 auto;
  padding: 4% 0;
  display: flex;
  justify-content: space-around;
}

.codigo input {
  text-align: center;
}

.subtotal {
  text-align: center;
  width: 80%;
  margin: 10% auto;
  padding-bottom: 3%;
  box-sizing: border-box;
}

.precio {
  border: 1px solid black;
  border-radius: 15px;
  margin: 0 auto;
  padding: 4% 0;
  display: flex;
  justify-content: space-around;
}

input {
  border-radius: 20px;
}

button {
  border-radius: 20px;
  background-color: white;
}

.precio button:hover{
  /* background-color: #6B8F71; */
  /* background-color: #00CC99; */
  background-color: limegreen;
  color: white;
}

.codigo button:hover{
  /* background-color: #6B8F71; */
  /* background-color: #00CC99; */
  background-color: #586994;
  color: white;
}

@media (max-width:380px) {

  .contenido{
    width: 90%;
  }

}

@media (min-width:576px) {

  .encabezado p{
    font-size: 30px;
  }

  .encabezado img{
    width: 28px;
    height: 28px;
  }

  .album {
    width: 15%;
  }

  .contenido {
    font-size: 20px;
    width: 80%;
  }

  .info {
    text-align: center;
    margin: 15px;
  }

  .img {
    width: 106px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
  }

  h2#empty {
    font-size: 20px;
    max-width: 60%;
  }

  .cupon {
    font-size: 20px;
  }

  .codigo input {
    width: 30%;
    font-size: 16px;
    text-align: center;
  }

  .codigo button {
    font-size: 16px;
  }

  .subtotal{
    font-size: 20px;
  }
  
  .subtotal button{
    font-size: 16px;
  }

}
@media (min-width:992px) {
  .cuerpo {
    display: flex;
    flex-direction: column;
  }
  .prueba {
    display: flex;
    justify-content: center;
  }
  .cupon {
    width: 40%;
  }
  .subtotal {
    width: 40%;
  }
  .codigo input{
    width: 40%;
    height: 25px;
  }
  .contenido {
    width: 800px;
  }

  h2#empty {
    font-size: 22px;
    max-width: 70%;
  }
  
  .prueba .cupon, .prueba .subtotal {
    width: 400px;
    margin: 50px 75px
  }

  .img {
    width: 100%;
    height: 100%;
  }

}

/* @media (min-width:1100px) {
  .contenido {
    width: 1000px;
  }
  
  .prueba .cupon, .prueba .subtotal {
    width: 480px;
  }
} */