* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin : 0;
}

.central-logo {
    display: block;
    margin: 30px auto;
    padding: 5px;
    width: 200px;
    height: 70px;
}

.central-BMG{
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    height: 120%;
    color: blue;
}

h1 {
    font-size: 25px;
    margin: 25px auto;
    width: 96px;
}

#register-and-text-container {
    background-image: url("/images/vinyl-register-bottom.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
    width: 100%;
    height: 1500px;
}

#register {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;
    height: 1050px;
    border: 1px gray solid;
    border-radius: 10px;
}

.notice-terms-login {
    color: rgb(104, 0, 208)
}

article {
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    margin: 0 0 0 20px;
    align-self: center;
}

input {
    display: block;
    flex-grow: 1;
    margin: 10px 20px;
    width: 400px;
    height: 30px;
    border: 0.5px solid  gray;
    border-radius: 20px;
}

input#image {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
}

@font-face {
    font-family: "fontello";
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot#iefix') format('embedded-opentype'),
         url('../font/fontello.woff2') format('woff2'),
         url('../font/fontello.woff') format('woff'),
         url('../font/fontello.woff') format('woff'),
         url('../font/fontello.ttf') format('truetype'),
         url('../font/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  #password,
  #rewrited-password {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
  
      font-variant: normal;
      text-transform: none;
  
      -webkit-font-smoothing: antialiased;
  
      letter-spacing: 2px;
  }

#submit-button {
    margin: 0 auto;
    background-color: white;
    text-align: center;
    color: rgb(0, 0, 0);
    display: inline-block;
    border-radius: 25px;
    height: 40px;
    width: 110px;
    border: solid 1px black;
}

#submit-button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

a {
    font-weight: bold;
    text-decoration: none;
}

p {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

p#password-rule {
    display: inline;
    font-size: 12px;
    padding: 0;
    margin: 0 0 0 12px;
    font-weight: 600;
}

p#error {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color:rgb(209, 50, 50)
}

input#zip {
    width: 100px;
}

input#birthday {
    max-width: 140px;
}

select#country {
    width: 120px;
    margin: 0 0 0 10%;
}

.error-firstName {
    margin: auto;
    color: red;
    text-align: center;
}

.error-lastName {
    margin: auto;
    color: red;
    text-align: center;
}

.error-email {
    margin: auto;
    color: red;
    text-align: center;
}

.error-password {
    margin: auto;
    color: red;
    text-align: center;
}

.error-rwPassword {
    margin: auto;
    color: red;
    text-align: center;
}

.error-imagen {
    color: red;
    text-align: center;
}

.error-birthday {
    margin: auto;
    color: red;
    text-align: center;
}

.error-address {
    margin: auto;
    color: red;
    text-align: center;
}

.error-zip {
    margin: auto;
    color: red;
    text-align: center;
}

.error-city {
    margin: auto;
    color: red;
    text-align: center;
}

.error-state {
    margin: auto;
    color: red;
    text-align: center;
}


@media (min-width: 576px){
    
    body {
        background-image: url("/images/vinyl-register-corner.jpeg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
    }

    #register {
        max-width: 450px;
    }

    #register-and-text-container {
        background-image: none;
        display: block;
        width: 100%;
        height: 1300px;
    }

    p {
        max-width: 290px;
    }

}

@media (min-width: 1500px){

    /* body {
        background-image: url("/images/vinyl-register-left.jpeg");
        background-size: contain;
        background-repeat: no-repeat;
    } */

    .album-home p {
        padding: 0 13px 20px 13px;
        font-size: 22px;
    }

}