* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.fa-compact-disc {
    color: rgb(208, 206, 206);
}

.first-section {
    background-image: url('/images/fondoPrincipal.jpg');
    height: 300px;
    background-size: cover;
    display: flex;
}

#principal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 38px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    text-transform: uppercase; 
    width: 100%;
    align-self: center;
}

.deletion-section {
    font-size: 18px;
    background-color: rgb(218, 50, 108);
    width: 100%;
    height: 40px;
}

#principal-title-deletion {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    height: 100%;
    margin: auto;
    padding: 10px 0 0 0 ;
    text-transform: uppercase; 
    max-width: 300px;
}

.album-home {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    transition: all 300ms;
}

.album-home:hover {
    margin: 0;
}

.album-home#black {
    background-color: gray;
    color: black
}


.album-home#black p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding: 0 7px 20px 7px;
}

.album-home#black a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: black
}

.album-home#yellow {
    background-color: rgb(255, 227, 65);
    color: black;
}

.album-home#yellow p {
    color: black;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding: 0 7px 20px 7px;
}

.album-home#yellow a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: black
}

.album-home#strongGreen {
    background-color: green;
    color: white;
}

.album-home#strongGreen p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding: 0 7px 20px 7px;
}

.album-home#strongGreen a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: white;
}

.album-home#red {
    background-color: rgb(242, 85, 85);
    color: white; 
}


.album-home#red p {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding: 0 7px 20px 7px;
}

.album-home#red a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: white;
}

.album-home#brown {
    background-color: rgb(181, 108, 69);;
    color: white;
}

.album-home#brown p {
    color: rgb(240, 240, 240);
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding: 0 7px 20px 7px;
}

.album-home#brown a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: black
}

.album-home#blue {
    background-color: rgb(59, 57, 187);
    color: rgb(0, 0, 0);
}

.album-home#blue p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    padding: 0 7px 20px 7px;
}

.album-home#blue a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.album-home #standardImage {
    width: 100%;
    height: 50%;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.album-home a {
    display: block;
    text-align: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: black
}

h2#empty {
    display: block;
    margin: 80px auto;
    color: black;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    max-width: 80%;
    align-self: center;
  }

@media (min-width: 576px) {

    #principal-title {
        text-align: center;
        max-width: 700px;
    }

    h2#empty {
        font-size: 20px;
      }

}

@media (min-width: 768px) {

    #principal-title {
        text-align: center;
        max-width: 100%;
    }

    .first-section .elements {
        display: none; /*ESTE ES EL QUE NO ME FUNCIONA.*/
    }

    .album-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .album-home p {
        padding: 0 5px 20px 5px;
    }
    
    .album-home a {
        display: block;
        text-align: right;
        margin: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-style: italic;
    }

    .album-home#black {
        width: 47%;
        height: 50%;
    }

    .album-home#yellow {
        width: 47%;
        height: 50%;
    }

    .album-home#strongGreen {
        width: 47%;
        height: 50%;
    }

    .album-home#red {
        width: 47%;
        height: 50%;
    }

    .album-home#brown {
        width: 47%;
        height: 50%;
    }

    .album-home#blue {
        width: 47%;
        height: 50%;
    }

}

@media (min-width: 992px) {
    /*A modificar :*/

    .album-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #principal-title {
        max-width: 650px;
    }

    .album-home p {
        padding: 0 10px 20px 10px;
    }
    
    .album-home a {
        display: block;
        text-align: right;
        margin: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-style: italic;
        color: black
    }

    .album-home#black {
        width: 30%;
    }

    .album-home#yellow {
        width: 30%;
    }

    .album-home#strongGreen {
        width: 30%;
    }

    .album-home#red {
        width: 30%;
    }

    .album-home#brown {
        width: 30%;
    }

    .album-home#blue {
        width: 30%;
    }

    h2#empty {
        font-size: 22px;
        max-width: 70%;
      }

}

@media (min-width: 1200px) {

    /*Font-size the p de albums en 18 normalmente, hacerla crecer hasta 19 0 20 px y aumentar el margin del parrafo también*/

    .album-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .album-home {
        max-width: 400px;
        max-height: 650px;
    }

    .album-home p {
        padding: 0 10px 20px 10px;
    }
    
    .album-home a {
        display: block;
        text-align: right;
        margin: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-style: italic;
    }

}


@media (min-width: 1500px) {
    /*Font-size the p de albums en 18 normalmente, hacerla crecer hasta 19 0 20 px y aumentar el margin del parrafo también*/
    .album-home {
        max-height: 720px;
    }

}