* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin : 0;
}

.central-logo {
  display: block;
  margin: 30px auto;
  padding: 5px;
  width: 200px;
  height: 70px;
}

.central-BMG{
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
  height: 120%;
  color: blue;
}

h1 {
  font-size: 25px;
  margin: 25px auto;
  width: 150px;
}

#main {
  height: 80vh;
}

#login-and-text-container {
  background-image: url("/images/vinyl-login-bottom.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100%;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
  height: 400px;
  border: 1px gray solid;
  border-radius: 10px;
}

article {
  display: flex;
  flex-wrap: wrap;
}

label {
  display: block;
  margin: 10px 0 0 20px;
  align-self: center;
}

input {
  display: block;
  flex-grow: 1;
  margin: 10px 20px;
  width: 400px;
  height: 30px;
  border: 0.5px solid  gray;
  border-radius: 20px;
}

#remember-general {
  margin: 0 auto;
}

#remember {
  display: inline;
  width: 20px;
  height: 20px;
}


@font-face {
  font-family: "fontello";
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2') format('woff2'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}
#password,
#rewrite-password {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;

    letter-spacing: 2px;
}

#submit-button {
  margin: 10px auto;
  background-color: white;
  text-align: center;
  color: rgb(0, 0, 0);
  display: inline-block;
  border-radius: 25px;
  height: 40px;
  width: 130px;
  border: solid 1px black;
}

#submit-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

a {
  font-weight: bold;
  text-decoration: none;
}

p {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

p#error {
  width: 80%;
  margin: 10px auto;
  text-align: center;
  color:rgb(209, 50, 50)
}

@media (min-width: 576px){
  
  body {
      background-image: url("/images/vinyl-login-corner.jpeg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top left;
  }

  #main {
    height: 480px;
  }

  #login {
      max-width: 450px;
  }

  #login-and-text-container {
      background-image: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 460px;
  }

  p {
      max-width: 290px;
  }

}

@media (min-width: 768px) {

  #main {
    height: 700px;
  }

  #login-and-text-container {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 520px;
    position: relative;
    top: 80px
}

}

@media (min-width: 1560px) {
    body {
      background-image: url("/images/vinyl-login-left.jpeg");
      background-size: contain;
      background-repeat: no-repeat;
  }
}

@media (min-width: 1500px){

  .album-home p {
      padding: 0 13px 20px 13px;
      font-size: 22px;
  }

}