* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.central-logo {
    display: block;
    margin: 30px auto;
    padding: 5px;
    width: 200px;
    height: 70px;
}

.central-BMG {
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    height: 120%;
}

.container {
    display: block;
    width: 100vw;
    height: 1050px;
}

.division {
    margin:0
}

h1 {
    font-size: 25px;
    margin: 25px auto;
    /* width: 96px; */
    text-align: center;
}

.product-register {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;
    height: 1000px;
    border: 1px gray solid;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.songs {
    width: 89%;
    margin-top: 2px;
}

#color-selector{
    width: 450px;
    display: block;
    margin-bottom: 20px;
}

#color-album{
    margin: auto;
}

label {
    display: block; 
    margin-left: 20px;
    align-self: center;
}

input {
    display: block;
    flex-grow: 1;
    margin: 10px 20px;
    width: 400px;
    height: 30px;
    border: 0.5px gray solid;
    border-radius: 20px;
    outline: none;
}

input#price {
    max-width: 80px;
}

input#songs {
    width: 100%;
}

input#lenght {
    width: 100%;
}

input:hover,input:focus{
    border: 0.5px black solid ;
    border-radius: 20px;
}

textarea {
    display: block;
    flex-grow: 1;
    margin: 10px 20px;
    width: 400px;
    /* height: 30px; */
    border: 0.5px gray solid;
    border-radius: 10px;
    outline: none;
}

textarea:focus, textarea:hover{
    border: 0.5px black solid;
    border-radius: 10px;
}

#image {
    border: none;
    border-radius: 0;
}

#submit-product {
    margin: 0 auto;
    background-color: white;
    text-align: center;
    color: grey;
    display: inline-block;
    border-radius: 25px;
    width: 110px;
    height: 40px;
    border: 1px black solid;
}

#submit-product:hover {
    background-color: black;
    color: white;
}

p#error {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color:rgb(209, 50, 50)
}

div#in-case-of-errors {
    display: flex;
    flex-direction: column;
    align-content: center;
}

@media (min-width: 576px){
    .product-register{
        max-width: 450px;
    }
}

@media (min-width: 1200px) {

    .container {
        height: 85vh;
        max-height: 650px;
    }

    .product-register{
        width: 80%;
        max-width: 760px;
        height: 94%;
        max-height: 650px;
    }

    .division {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .division#all-songs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    div.info {
        width: 45%;
    }

    input {
        width: 380px;
        max-width: 380px;
    }

    input#price {
        align-self: center;
    }

    label#color-selector {
        width: 250px;
    }

}