<footer class="foot">
    <div id="footer-desktop-view">
        <div id="logo-social-networks">
            <img id="BMGfoot" src="/images/logoBMG-blanco.png" alt="Logo del Sitio E-commerceBGG">
            <article class="social-networks">
                <a href="#" class="social-logo" id="facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-logo" id="twitter"><i class="fab fa-twitter-square"></i></i></a>
                <a href="#" class="social-logo" id="instagram"><i class="fab fa-instagram"></i></i></a>
            </article>
        </div>
        <div class="extra-info" id="first">
                    <h3>Colecciones</h3>
                    <ul class="unordered-list">
                        <li><a href="/productos">Explorar</a></li>
                        <li><a href="/productos/categorias">Categorias</a></li>
                        <li><a href="/productos/artistas">Artistas</a></li>
                    </ul>
        </div>
        <div class="extra-info" id="second">
                    <h3>Mi Cuenta</h3>
                    <ul class="unordered-list">
                        <li><a href="/usuario/inicio-de-sesion">Iniciar Sesión</a></li>
                        <li><a href="/usuario/registro">Registrarse</a></li>
                    </ul>
        </div>
        <div class="extra-info" id="third">
                    <h3>General</h3>
                    <ul class="unordered-list">
                        <li><a href="/nosotros">Quienes somos</a></li>
                        <li><a href="/productos/crear">Vender Vinyl</a></li>
                        <!-- <li><a href="/productos/1/editar">Editar Vinyl</a></li> -->
                    </ul>
        </div>
    </div>
    <h2>@2021 by BMG Records. Todos los Derechos Reservados.</h2>
</footer>