<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titulo de la Página Dinámico -->
    <title><%= head.title %></title>

    <!-- Tipografía -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

    <!-- Vínculo con su Hoja u Hojas de Estilo -->
    <!-- Hoja de Estilos Propia Dinámica -->
    <link rel="stylesheet" href="<%= head.styleSheet %>">
    <link rel="stylesheet" href="/css/header-footer.css">
    <!-- Vinculo de Images con FontAwesone -->
    <script src="https://kit.fontawesome.com/c1014e3fce.js" crossorigin="anonymous"></script>
</head>