<header class="main-header">
    <a class="hamburguer-button" href="#"><i class="fas fa-bars"></i></a>
    <a class="logo" href="/"><img class="BMG" src="/images/logoBMG.png" alt="Logo del Sitio E-commerceBGG"></a> <!--<i class="fas fa-compact-disc"></i>-->
    <input type="text" class="seeker">
    <a class="search" href="#"><i class="fas fa-search"></i></a>
    <a href="/usuario/inicio-de-sesion" class="user"><i class="far fa-user"></i></a>
    <a class="cart" href="/carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
</header>
<section class="menu">
    <ul id="menu-list">
        <li id="menu-item">Iniciar Sesión</li>
        <li id="menu-item">Registrarse</li>
        <!-- <li id="menu-item">Item Tres</li>
        <li id="menu-item">Item Cuatro</li>-->
    </ul>
</section>
<section class="searcher">
    <input type="text" id="searcher-field">
    <button id="search-field-item"><i class="fas fa-search"></i></button>
</section>