.App {
    display: flex;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    justify-content: flex-start; /*Aqui es donde se cambia para que el footer este hasta abajo.*/
    background-color: #e4e4e4c6;
}