.App {
    display: flex;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: flex-start; /*Aqui es donde se cambia para que el footer este hasta abajo.*/
    background-color: #fafafac6;
}

#sideBar {
    display: inline;
    margin: 0;
}

#TopBar {
    display: inline;
    margin: 0;
}

#Footer {
    display: inline;
    margin: 0;
}