* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
    color: black;
    font-size: 15px;
}

#BMGfoot {
    width: 130px;
    height: 32px;
    padding: 5px;
    color: black;
}

footer h2 {
    color: #7d7e80;
    width: 200px;
    font-size: 13px;
    text-align: center;
    text-transform: none;
    margin: auto;
}

.foot {
    /* display: block; */
    background-color: #3a3c44;
    height: 300px;
    margin: 0;
}

.foot img {
    margin: 20px;
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:28px;
    padding: 5px;
    margin: 0 0 20px 0;
}

.social-logo#facebook {
    color:#4267B2;
}

.social-logo#twitter {
    color:rgb(0, 131, 253)
}

.social-logo#instagram {
    color: white;
}

@media (min-width: 768px) {

    .social-networks {
        justify-content: flex-start;
        padding: 0 0 0 25px;
    }

    .social-logo#twitter {
        margin-left: 20px;
    }
    
    .social-logo#instagram {
        margin-left: 20px;
    }

    #footer-desktop-view {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}